.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-nowrap {
  white-space: nowrap;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.img-responsive {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clickable {
  cursor: pointer;
}

.responsive-image {
  text-align: center;
  display: block;
  height: 100px;
  line-height: 100px;
}

.responsive-image img {
  max-height: 100px;
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
