/* Colors */
$black: #000;
$white: #FFF;
$main-bg-color: $white;
$text-color: $black;

/* Breakpoints */
$lg-desktop: 1200px;
$desktop: 992px;
$tablet: 768px;
$phone: 480px;

/* Grids */
$grid-columns: 12;
$grid-gutter-width: 30px;
$container-sm: 720px + $grid-gutter-width;
$container-md: 940px + $grid-gutter-width;
$container-lg: 1140px + $grid-gutter-width;

/* Fonts */
$font-family-sans-serif: "Arial", sans-serif;

/* Font sizes */
$font-size-base: 16px;
$font-size-large: 18px;
$font-size-small: 12px;
$font-size-h1: 36px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 16px;
$font-size-h5: 14px;
$font-size-h6: 12px;

/* Others */
$time-animation: 0.2s;
